@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>


<address>
    <br />
    <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chahbamohamed@sodelivery.ca">chahbamohamed@sodelivery.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:zanatialaa@sodelivery.ca">zanatialaa@sodelivery.ca</a>
</address>