
@{
    ViewBag.Title = ViewBag.Title;
}
@if (User.IsInRole("Employeur"))
{
    <h1>Welcome Boss</h1>
}
else if (User.IsInRole("Driver"))
{
    <h1>Welcome Deliverer</h1>
}
else if (User.IsInRole("Admin"))
{
    <h1>Welcome Administrator</h1>
}
else if (User.IsInRole("SuperAdmin"))
{
    <h1>Welcome Jason</h1>
}
else
{

}

