
@{
    ViewBag.Title = ViewBag.Title;
}

@if (User.IsInRole("Driver") || User.IsInRole("Employeur"))
{
    <br />
    <br />
    <div class="col-md-4">
        <img src="~/Content/Images/soDeliverylogo.png" style="width:80%;"/>
    </div>
    <div class="col-md-8">
        <h1>Welcome @User.Identity.Name</h1>
    </div>


}
else if (User.IsInRole("Admin"))
{
    <br />
    <br />
    <div class="col-md-4">
        <img src="~/Content/Images/soDeliverylogo.png" style="width:80%;" />
    </div>
    <div class="col-md-8">
        <h1>Welcome Administrator</h1>
    </div>
    

}
else if (User.IsInRole("SuperAdmin"))
{
    <h1>Welcome Jason</h1>
}
else
{
    <section style="background-color:black;">
        <div class="col-sm-6">
            @Html.ActionLink("Log in", "Login", "Account")
        </div>
        <div class="col-sm-6">
            @Html.ActionLink("Register", "Register", "Account")
        </div>

    </section>
}

